# Gradle Files
.gradle/
build/

# Secrets and local properties
# Ensure these are not versioned: API keys, local SDK paths
gradle.properties
local.properties

# IDE specific files
.idea/
.vscode/
*.iml
*.ipr
*.iws
*.hprof

# Build artifacts and caches
.kotlin/
.cxx/
.DS_Store
captures/
.externalNativeBuild/

# Kotlin Multiplatform specific
/build/bin
/build/klib
/build/js
/build/reports
/build/test-results
/build/tmp

# iOS/CocoaPods
Pods/
*.podspec.json
Podfile.lock
*.xcodeproj
*.xcworkspace
*.xcuserdatad